<div class="column-layout" style="padding-top: 30px;">
	<div class="column2">
		<form action="" method="post" class="form">
			<fieldset style="border-right: 1px solid #C0C0C0; margin-left: 20px;">
				<div class="field">
					<div class="input-icon">
						<span class="icon icon-user"></span><input type="text" name="login"
						data-validator="required" data-validator-event="keyup" />
				    </div>
				</div>
				<div class="field">
					<div class="input-icon">
						<span class="icon icon-key"></span><input type="password" name="password"
						data-validator="required" data-validator-event="keyup" />
				    </div>
				</div>
				<div class="field field-checkbox" style="margin-left: 0;">
                    <label><input type="checkbox" name="loginRemember" />{{t "templates.user.LoginTemplate.loginRemember"}}</label>
                </div>
				<div class="field field-submit" style="margin-left: 0;">
					<input type="submit" name="loginButton" class="button active" value="{{t "common.user.login"}}" />
				</div>
			</fieldset>
		</form>
	</div>
	<div class="column2" style="padding-top: 20px;">
		<div class="row-layout">
		    {{#siteIdentification}}
            <div class="row">
                <h5>Site Identification</h5>
                <div id="identificationMessage">
                    Here will be displayed your site image and pass phrase. <br />
                    Please enter you login.
                </div>
                <div id="siteImage"></div>
                <div id="passPhrase"></div>
            </div>	    
		    {{/siteIdentification}}
			{{#selfRegistration}}
			<div class="row">
				<h5>{{t "templates.user.LoginTemplate.noAccountQuestion"}}</h5>
		    	<a href="{{url 'register'}}">{{t "templates.user.LoginTemplate.registerAccount"}}</a>
			</div>
			{{/selfRegistration}}
			{{#securityQuestions}}
			<div class="row">
				<h5>{{t "templates.user.LoginTemplate.problemLoggingQuestion"}}</h5>
		    	<a href="{{url 'forgottenPassword'}}">{{t "templates.user.LoginTemplate.resetPassword"}}</a>
			</div>
			{{/securityQuestions}}
		</div>
	</div>
</div>