<?xml version="1.0" encoding="UTF-8"?>
<!--
  ! CCPL HEADER START
  !
  ! This work is licensed under the Creative Commons
  ! Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  ! To view a copy of this license, visit
  ! http://creativecommons.org/licenses/by-nc-nd/3.0/
  ! or send a letter to Creative Commons, 444 Castro Street,
  ! Suite 900, Mountain View, California, 94041, USA.
  !
  ! See the License for the specific language governing permissions
  ! and limitations under the License.
  !
  ! If applicable, add the following below this CCPL HEADER, with the fields
  ! enclosed by brackets "[]" replaced with your own identifying information:
  !      Portions Copyright [yyyy] [name of copyright owner]
  !
  ! CCPL HEADER END
  !
  !      Copyright 2014 ForgeRock AS
  !
-->
<document
 xmlns="http://maven.apache.org/XDOC/2.0"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://maven.apache.org/XDOC/2.0
                     http://maven.apache.org/xsd/xdoc-2.0.xsd">
 <properties>
  <title>${project.name}</title>
  <author email="commons@forgerock.org">ForgeRock AS</author>
 </properties>
 <body>
  <section name="About ${project.name}">

   <p>
    ${project.description}
   </p>

   <p>
    ForgeRock uses a number of open source components
    and provides open source examples that are common to multiple projects.
   </p>
   
   <p>
    Sources for the projects are visible under
    <a href="http://sources.forgerock.org/browse/commons/"
    >http://sources.forgerock.org/browse/commons/</a>.
   </p>
   
   <p>
   Nabble.com hosts a <a href="http://forgerock-commons.1100771.n5.nabble.com/"
   >mailing list archive</a>.
   </p>
   
   <p>
    If you want to get involved, start by reading
    <a href="http://forgerock.org/get_involved.html">this developer community page</a>.
   </p>
  </section>
 </body>
</document>
