
<!-- Modal -->
<div class="modal fade " id="languageModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{'language'|i18n}}</h4>
      </div>
      <div class="modal-body">
      	<div class="list-group">
		  <a ng-repeat="locale in locales" class="list-group-item {{$index==selectedIndex ? 'active' :''}}" ng-click="changeLanguage($index)">{{locale.language}} <span class="pull-right">{{locale.locale}}</span></a> 
		</div>
        <button type="button" class="btn btn-default" data-dismiss="modal">{{'close'|i18n}}</button>
      </div>
    </div>
  </div>
</div>